<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Demoblaze Suite">
    <listeners>
        <listener class-name="utilities.TestListener"/>
    </listeners>

    <test name="All Test Cases">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.SignUpTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.CheckoutTest"/>
        </classes>
    </test>
</suite>

  